html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-color: rgb(34, 33, 33);
    display: flex;
    font-family: 'Dosis', sans-serif ;
    font-display: swap;
    height: inherit;
    justify-content: center;
    overflow: hidden;
}

.wrapper{
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
    flex-basis: 400px;
    height: 540px;
    padding: 25px 35px;
}

.screen {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    font-size: 35px;
    padding: 20px;
    text-align: right;
    width: px;
    color: antiquewhite;
}
.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    background-color: rgba(255, 255, 255, alpha);
    border-radius: 16px;
    font-size: 24px;
    font-family: inherit;
    height: 65px;
    flex-basis: 20%;
    color: azure;
}

.calc-button:last-child{
    background-color: rgb(167, 167, 54);
}
.calc-button:last-child:hover{
    background-color: rgb(199, 199, 80);
}

.calc-button:hover{
    background-color:rgba(255, 255, 255, 0.20);
}

.calc-button:active{
    background-color:rgba(204, 0, 0, 0.1) ;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}